# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# cache
/.angular

# dependencies
/node_modules

# eslint
eslint.html

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.vscode/extensions.json
.history/*

# misc
/coverage

# System Files
.portal-devkit.rc.js